:root {
	--background-color: black;
	--color-hue: 120;
	--color-saturation: 34%;
	--color-lightness: 55%;
}
@font-face {
	font-family: "HEADER-FONT"; src: url("assets/fonts/boilerplate-extreme.woff2") format("woff");
}
@font-face {
	font-family: "BODY-FONT";
	src:url(assets/fonts/courier_prime.woff2) format("woff2");
}

.font--title {
	font-family: "HEADER-FONT";
}
body {
	font-size: 16px;
	background-color: var(--background-color);
	color: white;
	font-family: "BODY-FONT";
	font-weight:400;
	font-style:normal;
}

header {
	color: hsl(var(--color-hue),var(--color-saturation),var(--color-lightness));
}
header > * {
	display: inline list-item;
}
header mark, a {
	background: hsl(var(--color-hue),var(--color-saturation),var(--color-lightness));
	color: #fff;
	padding-left: 0.2em;
	padding-right: 0.2em;
	text-decoration: none;
}

.header-sub {
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.header-sub::before, .header-sub::after {
	width: 1em;
	height: 2em;
	display: block;
	content: "";
	background-color: white;
	margin-right: 0.5em;
	margin-left: 0.5em;
}

header .title-letter {
	/*display: inline-block;*/
}
@media screen and (max-width: 1300px) {
	.header--biggest {
		display: none;
	}
}
@media screen and (max-width: 700px) {
	.header--big {
		display: none;
	}
}


h1 {
	font-size: 2.618em;
}
h1,h2,h3{
	font-family: "HEADER-FONT";
}

article > p:first-of-type:first-line  {
	font-weight:bold;
	text-transform:uppercase;
	letter-spacing:0.1em;
	color: hsl(var(--color-hue),var(--color-saturation),var(--color-lightness));

}

article > p:first-of-type:first-letter {
	font-family: "HEADER-FONT";
	font-size: 5.5em;
	font-weight: normal;
	border: 1px dashed #999;
	letter-spacing: 0px;
	padding: 0.2em;
	margin-right: 0.2em;
	line-height: 1.2em;
	float: left;
	color: hsl(var(--color-hue),var(--color-saturation),var(--color-lightness));

}

article {
	max-width: 50em;
	position: relative;
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	font-size: 18px;
}

article aside {
	position: absolute;
	top: 5.5em;
}